/TestPostMessage/ReceivePostMessageAtCSharp/obj
/TestPostMessage/TestPostMessage/Release
/TestPostMessage/TestPostMessage/Debug
/TestPostMessage/TestPostMessage/ipch
/TestPostMessage/TestPostMessage/RecMFC/Release
/ReceiveMFC/Release
/TestPostMessage/TestPostMessage/testmfc/Release
